body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.body {
  padding: 15px 50px;
  margin-bottom: 50px;
}

.title {
  font-size: xx-large;
  font-weight: 500;
  margin-bottom: 2px;
}

.desc {
  font-size: large;
  font-weight: 300;
  margin-bottom: 20px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.cat {
  cursor: pointer;
  margin-right: 10px;
  padding: 10px 20px;
  border: 1px solid lightgray;
  border-radius: 20px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.content {
  width: 100%;
}

.content .title {
  margin-top: 10px;
  font-size: x-large;
  font-weight: 700;
  margin-bottom: 10px;
}

.content .desc {
  font-size: medium;
  font-weight: 400;
  text-align: justify;
}

.content button {
  color: white;
  background-color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 50px;
}

.img {
  border-radius: 5px;
  width: 100%;
  min-height: 300px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: auto;
  }
  .body {
    padding: 0px 10px;
  }
}
